<tr>
  <th scope="row"></th>
  <td class="firts">
    <input type="checkbox">
    <img class="user" src="" alt="user">
    <img class="logo" src="" alt="logo">
  </td>
  <td>{{ sale.payment_accredited_at }}</td>
  <td>{{ sale.id_order }}</td>
  <td>{{ sale.no_items }}</td>
  <td>{{ sale.shipment_pk }}</td>
  <td>{{ sale.customer_name }}</td>
  <td>{{ sale.total }}</td>
  <td>{{ sale.ff_type }}</td>
  <td>{{ sale.status }}</td>
  <td>{{ sale.last_notified_progress }}</td>
  <td>{{ sale. invoice_status }}</td>
</tr>
